*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background: rgb(66,66,66);
  background: linear-gradient(90deg, rgb(68, 33, 33) 0%, rgb(82, 23, 23) 50%, rgb(75, 12, 12) 100%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  animation: entrata-header 1s ease-out both;
}

@keyframes entrata-header {
  0% {
    transform: translate(0, -300px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}


body {
  min-height: 100vh;
  background-color: #330000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.campo{
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  max-width: 700px;
  flex-basis: 100%;
  aspect-ratio: 1;
}

.campo.difficile{
  grid-template-columns:repeat(10,1fr);
}
.campo.medio{
  grid-template-columns:repeat(9,1fr);
}
.campo.facile{
  grid-template-columns:repeat(7,1fr);
}

.box{
  margin: 0px 0;
  border: 2px solid #fff;
  background-color: #333;
  transition: background-color 0.3s;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}
.box.bomb{
  background-color: red;
  color: white;
}
.box.safe{
  background-color: green;
  color: white;
}
#difficulty-choice{
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin-right: 20px;
  height: 30px;
  border: 1px solid black;
}

.risultato{
  display: inline;
}

#genera {
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #680000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}

#genera:hover {
  background-color: #be0000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

#genera:active {
  background-color: #be0000;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
}


.gameover{
  pointer-events: none;
}

#scelta-diff {
  margin-right: 40px;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #d65858;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}